<form asp-action="GiaiPhuongTrinhBac1">
    <lable>He so A: </lable>
    <input type="text" name="hesoA">
    <br>
    <lable>He so B: </lable>
    <input type="text" name="hesoB">
    <br>
    <input type="submit" value="Giai phuong trinh">

</form>