<form asp-action="GiaiPhuongTrinhBac2">
    <lable>He so A:</lable>
    <input type="text" name="hesoA">
    <br>
     <lable>He so B:</lable>
    <input type="text" name="hesoB">
    <br>
     <lable>He so C:</lable>
    <input type="text" name="hesoC">
    <br>
    <input type="submit" value="Giai phuong trinh">
</form>
<h1>ketqua =  @ViewBag.message </h1>