<form asp-action="TinhTong">
    <label>Nhap vao so nguyen duong:</label>
    <input type="text" name="Number">
    <input type="submit" name="Tong cua cac chu so">

</form>
<h1>Tong cac chu so = @ViewBag.Sum</h1>